<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>IMS</display-name>

	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>com.ims.controllers.MainController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AssigneeMaintenanceController</servlet-name>
		<servlet-class>com.ims.controllers.assigneemaintenance.AssigneeMaintenanceController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AssigneeMaintenanceController</servlet-name>
		<url-pattern>/AssigneeMaintenanceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserMaintenanceController</servlet-name>
		<servlet-class>com.ims.controllers.UserMaintenanceController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserMaintenanceController</servlet-name>
		<url-pattern>/UserMaintenanceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>unitAssignment</servlet-name>
	<servlet-class>com.ims.controllers.unitAssignment.UnitAssignmentController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>unitAssignment</servlet-name>
	<url-pattern>/unitAssignment</url-pattern>
	</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/View/LoginView.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>peripheralsServlet</servlet-name>
		<servlet-class>com.ims.controllers.peripherals.peripheralsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>peripheralsServlet</servlet-name>
		<url-pattern>/peripheralsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>computerunitscontroller</servlet-name>
		<servlet-class> com.ims.controllers.computerunitinventory.ComputerUnitController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>computerunitscontroller</servlet-name>
		<url-pattern>/ComputerUnitsInventory</url-pattern>
	</servlet-mapping>
</web-app>